.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
::ng-deep .custom-dialog-class {
  mat-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
.users-table {
  width: 100%;
  margin-top: 50px;
}
